.netHackScr pre  {
	font-family: "Courier New", Courier, mono;
  	line-height: 1em;
}

a.inv {
    text-decoration: none;
    color:black
}
a.inv:hover {
    cursor: help;
    position: relative
}
a.inv div {
    display: none;
}

a.inv:hover div {
    border: #c0c0c0 1px dotted;
    padding: 5px 20px 5px 5px;
    display: block;
    z-index: 100;
	background: black;
  	color: white;
    left: 0px;
    margin: 10px;
    width: 500px;
  	position: absolute;
    top: 10px;
  	line-height: 1em;
    text-decoration: none;
}

a.det {
    text-decoration: none;
    color:black
}
a.det:hover {
    cursor: help;
    position: relative
}

a.det div {
    display: none;
}

a.det:hover div {
    border: #c0c0c0 1px dotted;
    padding: 5px 20px 5px 5px;
    display: block;
    z-index: 100;
  	background: black;
  	color: white;
    left: 0px;
    margin: 10px;
    width: 250px;
    position: absolute;
    top: 10px;
  	line-height: 1em;
    text-decoration: none;
}